.cabecalio{
    font-family: Fantasy;
    background-color: rgb(248, 76, 8);
    color: aliceblue;
}

.h6Letra{
    color: rgb(230, 67, 8) ;
}

.final{
    background-color:rgb(248, 76, 8) ;
}

.title1{
    font-family: Fantasy;
    margin-top: 20px;
}

.finalf{
    margin-left: 350px;
    margin-top: -59px;
}

.aa{
 margin-left:10px ;
}